/Clase02/Coquito/nbproject/private/
/Clase02/Coquito/build/
/Clase03/CasaDeCambio/nbproject/private/
/Clase03/CasaDeCambio/build/
/Clase03/Clinica/nbproject/private/
/Clase03/Clinica/build/
/Clase04/EjemploMath/nbproject/private/
/Clase04/Soldado/nbproject/private/
/Clase04/Soldado/build/
/Clase04/EjemploMath/build/
/Clase04/Veterinaria/nbproject/private/
/Clase04/Veterinaria/build/